<h1>你好！我是 <%= @user.nickname %></h1>
<br>
<%= image_tag @user.gravatar_url %>
<h3>這是我的自我介紹</h3>
<p><%= simple_format @user.about_me %></p>
<br>
<div class="row">
	<div class="col-lg-6">
		<table class="table table-striped">
			<tr>
				<th>
					<p>我的收藏</p>
				</th> 
			</tr>
			<% @user.fav_posts.each do |u| %>
			<tr>	
				<td>
					<p><%= u.title %></p>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class="col-lg-6">
		<table class="table table-striped">
			<tr>
				<th>
					<p>
						按過讚的文章
					</p>
				</th>
			</tr>
			<% @user.liked_post.each do |p| %>
			<tr>
				<td>
					<p><%= p.title %></p>
				</td>	
			</tr>
			<% end %>
		</table>
	</div>
</div>

<% if @user != current_user %>
  <p>Status:

    <% if current_user.is_friend?(@user) %>
      已經是朋友
    <% elsif current_user.pending_friendship?(@user) %>
      等待對方確認 [Remove]
    <% elsif current_user.inverse_pending_friendship?(@user) %>
      交友邀請中 [Confirm] [Ignore]
    <% elsif current_user.ignored_friendship?(@user) %>
      等待對方確認 [Remove] <- 安慰版!!
    <% elsif current_user.inverse_ignored_friendship?(@user) %>
      已被我忽略 [Confirm]
    <% else %>
      目前沒關係 <%= link_to "Request", friendships_path( :friend_id => @user), :method => :post %>
    <% end %>

  </p>
<% end %>

<h2>All friend list</h2>
<ul>
  <% @user.all_friends.each do |f| %>
    <li>
      <%= link_to f.nickname, user_path(f) %>

      <% if current_user == @user %>
        <% fs = current_user.find_friendship(f) %>
        <%= link_to "Remove", friendship_path(fs), :method => :delete, :data => { :confirm => "Are you sure?" } %>
      <% end %>

    </li>
  <% end %>
</ul>

<% if @user == current_user %>

  <h2>Request list</h2>
    <ul>
    <% @user.friendships.pending.each do |f| %>
     <li>
        <%= link_to f.friend.nickname, user_path(f.friend) %>
        <%= link_to "Remove", friendship_path(f), :method => :delete, :data => { :confirm => "Are you sure?" } %>
      </li>
    <% end %>
    </ul>


  <h2>Pending list</h2>

    <ul>
    <% @user.inverse_friendships.pending.each do |f| %>
     <li>
        <%= link_to f.user.nickname, user_path(f.user) %>
        <%= link_to "Confirm", friendship_path(f, :status => :confirmed), :method => :patch %>

        <%= link_to "Ignore", friendship_path(f, :status => :ignored), :method => :patch %>
      </li>
    <% end %>
    </ul>

<% end %>








<%= link_to '編輯簡介' , edit_user_path(@user.nickname) %>
<%= link_to '回首頁' , posts_path %>