<h1>This is the World of GOD!</h1>


<h3>人員清單：</h3>
<table class="table table-striped">
	<tr>
		<th></th>
		<th>暱稱</th>
		<th>信箱</th>
		<th>簡介</th>	
		<th>登入次數</th>
		<th>管理人員？</th>
		<th>編輯簡介</th>
	</tr>
<%= form_tag bulk_update_admin_posts_path do %>
	<% @users.each do |u| %>
		<tr>
			<td><%= check_box_tag "ids[]",u.id, false %></td>
			<td><%= u.nickname %></td>
			<td><%= u.email %></td>
			<td><%= u.about_me%></td>
			<td><%= u.sign_in_count%></td>
			<td><%= u.role %></td>	
			<td><%= link_to '編輯' , edit_user_path(u.nickname) %></td>
		</tr>
	<% end %>
	</table>
	<%= submit_tag "升為管理人員",:class =>"btn btn-primary"%>
	<br>
	<br>
	<%= submit_tag "刪除人員",:class =>"btn btn-primary"%>
<% end %>
<br>

<h3>依照分類</h3>
<table class="table table-striped">
	<tr>
		<td>群組名稱</td>
		<td>編輯群組名稱</td>
		<td>刪除群組</td>	
	</tr>
	<% @groups.each do |g| %>
	<tr>
	<td><%= g.name %></td>
	<td><%= link_to '編輯', admin_posts_path(:id => g)%></td>
	<td><%= link_to '刪除群組', admin_group_path(g), :method => :delete %></td>
	</tr>	
	<% end %>
</table>

<h2>快速新增</h2>
<%= form_for [:admin, @group]  do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<%= f.submit "新增/修改" , :class =>"btn btn-primary"%>
<% end %>








