<% if f.errors.any? %>
      <ul>
      <% f.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<div class="form-group col-lg-12">
	<%= f.label :title, "標題" %>
	<%= f.text_field :title ,:class =>"form-control"%>
</div>
<div class="form-group col-lg-12">
 <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
</div>
<div class="form-group col-lg-12">
	<%= f.label :content, "內文"%>
	<%= f.text_area :content ,:class =>"form-control"%>
</div>

<div class="from-group col-lg-12">
	<%= f.label :tag_list, "標籤"%>
	<%= f.select :tag_list, Tag.all.map{ |x| [x.name, x.name] },{},{:multiple => true,:class =>"form-control"}%>
	<%#= f.text_field :tag_list ,:class =>"form-control"%>
</div>
<div class="form-group col-lg-12">
	<%= f.file_field :image %>
	<% if @post.image.exists? %>
  	<%= check_box_tag "remove_upload_file", "1" %>移除上傳檔案
	<% end %>
</div>



<script>
  $("#post_tag_list").select2({
    tags: true
  });
</script>