<h1><%= link_to 'Swingcloud Forum' , posts_path%> </h1>
	<div class="sort">
		<div class="pull-left">
			<%= link_to  new_post_path do %>
				<i class='icon-pencil'></i>新增文章
			<% end %>
		</div>
		<div class="pull-right">
			<%= link_to '依照回覆數排列', posts_path( :order => "replies_count") %>
			<%= link_to '依照最後回覆時間', posts_path( :order => "last_replies") %>
			<%= link_to '依照瀏覽數進行排序', posts_path( :order => "page_views") %>
			<%= link_to '原排列', posts_path %>
		</div>
	</div>
	<div class="clearfix sort-opt"></div>

<table class="table table-striped">
	<tr>
		<th>標題</th>
		<th>作者</th>
		<th>回應數</th>
		<th>瀏覽數</th>
		<th>參與討論</th>
		<th>誰按過讚？</th>
		<th>標籤</th>
		<th></th>
		<th></th>
	</tr>
	<% @posts.each do |p| %>
	<tr>
		<td><h3><%= link_to p.title, post_path(p) %></h3></td>
		<td><h3><%=link_to  p.user.nickname, user_path(p.user.nickname) %></h3></td>
		<td><%= p.replies.count %></td>
		<td><%= p.page_views %></td>
		<td>
			<% p.reply_user.each do |u| %>
        <p><%= u %></p>
      <%end%>
		</td>
		<td>
			<% p.users_liked.each do |l| %>
				<p style="border: 1px solid navy; background-color: #02ABD6; color:white; text-align:center; border-radius:5px"><%= l.nickname %></p>
			<% end %>
		</td>
		<td>
			<% p.tags.each do |t| %>
				<%= link_to t.name, posts_path(:tag => t.name) %>
			<% end %>
		</td>	
		<% if current_user == p.user || current_user.try(:admin?) %>
			<td>
				<%= link_to  edit_post_path(p) do %>
					<i class='icon-pencil'></i>編輯
				<% end %>
			</td>
		<% end %>
		<% if current_user == p.user || current_user.try(:admin?) %>
			<td>
				<%= link_to post_path(p), :method => :delete do%>
					<i class='icon-trash'></i>刪除
					<% end %>
			</td>
		<% end %>
	<% end %>
	</tr>
</table>
<%= paginate @posts %>
<br>
<h3>依照分類</h3>
	<% @groups.each do |g| %>
	<%= link_to g.name, posts_path(:groupid => g, :order => params[:order]) %>
	<% end %>

	<%= form_tag posts_path, :class => "form-inline", :method => :get do %>
	<div class="form-group">
		<%= select_tag :groupid, options_for_select(Group.all.map{|g| [g.name , g.id]},params[:groupid]), :class => "form-control group-form"  %>
	</div>
	<%= submit_tag "Go!" , :class => "btn btn-default"%> 
	<%end%>
	

	
<h2>快速新增</h2>
<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
	<% end %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<%= f.submit "送出" , :class =>"btn btn-primary"%>
<% end %>

