<h1><%= link_to 'Swingcloud Forum' , posts_path %> </h1>
<p><%= link_to"新增文章", new_post_path%></p>
<%= link_to '依照回覆數排列', posts_path( :order => "replies_count") %>
<%= link_to '依照最後回覆時間', posts_path( :order => "last_replies") %>
<%= link_to '依照瀏覽數進行排序', posts_path( :order => "page_views") %>
<%= link_to '原排列', posts_path %>
<table class="table table-striped">
	<tr>
		<th>標題</th>
		<th>作者</th>
		<th>回應數</th>
		<th>瀏覽數</th>
		<th></th>
		<th></th>
	</tr>
	<% @posts.each do |p| %>
	<tr>
		<td><h3><%= link_to p.title, post_path(p) %></h3></td>
		<td><h3><%=link_to  p.user.nickname, user_path(p.user) %></h3></td>
		<td><%= p.replies.count %></td>
		<td><%= p.page_views %></td>
		<% if current_user == p.user %>
			<td><%= link_to "編輯", edit_post_path(p) %></td>
		<% end %>
		<% if current_user == p.user %>
			<td><%= link_to "刪除", post_path(p), :method => :delete%></td>
		<% end %>
	<% end %>
	</tr>
</table>
<%= paginate @posts %>
<br>
<h3>依照分類</h3>
	<% @groups.each do |g| %>
	<%= link_to g.name, posts_path(:groupid => g, :order => params[:order]) %>
	<% end %>

	<%= form_tag posts_path, :class => "form-inline", :method => :get do %>
	<div class="form-group">
		<%= select_tag :groupid, options_for_select(Group.all.map{|g| [g.name , g.id]},params[:groupid]), :class => "form-control" %>
	</div>
	<%= submit_tag "Go!" , :class => "btn btn-default"%> 
	<%end%>
	

	
<h2>快速新增</h2>
<%= form_for @post, :url => posts_path do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<%= f.submit "送出" , :class =>"btn btn-primary"%>
<% end %>