<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
	<% end %>

		<%= render :partial => "form", :locals => {:f => f} %>

    <%= f.submit "正式發送" , :class =>"btn btn-primary"%>
    <%= f.submit "儲存草稿" , :class =>"btn btn-primary"%>
<% end %>