<div class="container">
	<div class="row">
		<h1>
			<%= @post.title %>
		</h1>
		<% @post.groups.each do |g| %>
			<li>
			<%= g.name %>
			</li>
		<% end %>
			<p class="col-lg-12">
				<%= simple_format @post.content %>
			</p>
			<% if @post.image.exists? %>
				<div>
					<%= image_tag @post.image.url(:medium) %>	
				</div>
			<% end %>
			<div class="like">
				<%= render :partial => 'likepost' %>
			</div>
		<table class="table table-striped">
			<p>回應數：<%=@replies.count%></p>
			<tr>
				<td class="col-lg-2">評論人</td>
				<td class="col-lg-9">內容</td>
				<td class="col-lg-1"></td>
				
			</tr>
			<% @replies.each do |r| %>
			<tr>
				<td class="col-lg-2"><%= r.user.nickname %></td>
				<td class="col-lg-9"><%= r.comment %></td>
				<td class="col-lg-1"><%= link_to '刪除評論', post_response_path(r), :method => :destroy %></td>
			<% end %>
			</tr>
		</table>
		<%= link_to '加入收藏', favorite_post_path(@post), :method => :put %>
		<br>
		<%= link_to '發表評論', new_post_response_path(@post) %>
		<br>
		<%= link_to '回首頁' , posts_path %>
	</div>
</div>