<div class="container">
	<div class="row">
		<h1>
			<%= @post.title %>
		</h1>
		<% @post.groups.each do |g| %>
			<li>
			<%= g.name %>
			</li>
		<% end %>
			<p class="col-lg-12">
				<%= simple_format @post.content %>
			</p>
			<% if @post.image.exists? %>
				<div>
					<%= image_tag @post.image.url(:medium) %>	
				</div>
			<% end %>
			<div class="like">
				<%= render :partial => 'likepost' %>
			</div>
		<table class="table table-striped replies-list"">
			<p>回應數：<%=@replies.count%></p>
			<tr>
				<td class="col-lg-2">評論人</td>
				<td class="col-lg-9">內容</td>
				<td class="col-lg-1"></td>
			</tr>
			<% @replies.each do |r| %>
				<%= render :partial => "post_replies/reply", :locals => {:r => r}%>

			<% end %>
			
		</table>
	</div>
	<%= form_for @reply,:url =>post_responses_path(@post), :remote =>true do |f| %>
		<%= render :partial => "post_replies/form", :locals => {:f => f} %>
		
  <%= f.submit "送出回覆" , :class =>"btn btn-primary"%>
 	<%end %>
 	<br>
		
	<div class="fav-post">
		<%= render :partial => 'favorite' %>
	</div>
	<br>
	<%= link_to '發表評論', new_post_response_path(@post) %>
	<br>
	<%= link_to '回首頁' , posts_path %>
	
</div>